data/merged_jennings2.tif filter=lfs diff=lfs merge=lfs -text
data/metdata_elevationdata.nc filter=lfs diff=lfs merge=lfs -text
data/metdata_elevationdata.nc.aux.xml filter=lfs diff=lfs merge=lfs -text
data/input/test/dem filter=lfs diff=lfs merge=lfs -text
data/input/test/gridmet_1979_2023.csv filter=lfs diff=lfs merge=lfs -text
data/input/test/jennings_t50_coefficients.tif filter=lfs diff=lfs merge=lfs -text
data/input/test/macav2metdata_2006_2099.csv filter=lfs diff=lfs merge=lfs -text
data/input/test/shapefile filter=lfs diff=lfs merge=lfs -text
data/input/test/soil filter=lfs diff=lfs merge=lfs -text
data/input/test/soil/soil_whc_025.tif filter=lfs diff=lfs merge=lfs -text
data/input/test/dem/aspect_nad83.tif filter=lfs diff=lfs merge=lfs -text
data/input/test/dem/dem_nad83.tif filter=lfs diff=lfs merge=lfs -text
data/input/test/dem/hillshade_nad83.tif filter=lfs diff=lfs merge=lfs -text
data/input/test/dem/slope_nad83.tif filter=lfs diff=lfs merge=lfs -text
data/input/test/shapefile/sample.dbf filter=lfs diff=lfs merge=lfs -text
data/input/test/shapefile/sample.prj filter=lfs diff=lfs merge=lfs -text
data/input/test/shapefile/sample.shp filter=lfs diff=lfs merge=lfs -text
data/input/test/shapefile/sample.shx filter=lfs diff=lfs merge=lfs -text
data/input/test/shapefile/sample.zip filter=lfs diff=lfs merge=lfs -text
data/input/test/dem/USGS_1m.tif filter=lfs diff=lfs merge=lfs -text
